.columns-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.column {
  width: 30%;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
}

.issue-card {
  background: lightskyblue;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: grab;
}

.issue-card:active {
  cursor: grabbing;
}